.bg-black{
    background-color: #010109 !important;
}
.bg-dark{
    background-color: #000011 !important;
}
.table-dark{
    color: #000011 !important;
}
.intro-card{
    margin-top: 100px;
}
.navbar-toggler {
    border: 0 !important;
}.container {   
    position: relative;
}
.aca {
    background-color: black;
    border: 1px solid #6c757d;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}
.aca:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.aca-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}
.aca-content p {
    margin: 5px 0;
    color: white;
}
.staggered {
    margin-top: 20px;
}
.staggered:nth-child(2) {
    margin-top: 40px;
}
.staggered:nth-child(3) {
    margin-top: 60px;
}
.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}
.arrow-down {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.text-link{
    position: relative;
    text-decoration: none;
  }
.text-link::after{
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: wheat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.text-link:hover::after{
  opacity: 1;
}

.user-img{
    width: 150px;
    height: 160px;
    margin-top: -100px;
    border-radius: 50%;
    border: 5px solid #1c1c3b;
}
.user-img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.skill-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.tools img{
    height: 40px;
    width: 40px;
    margin: 8px;
}
.project-list{
    box-shadow: 4px 5px 1px 1px black;
    transition: all 0.3s ease-in-out;
}
.project-list:hover{
    transform: scale(1.05);
}
.btn{
    background-color: #010109;
    color: white;
}
.btn-send{
    background-color: blue;
}
.btn-warning{
    background-color: #c2a11d !important;
    color: black;
}